* {
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    background-color:dodgerblue;
}

.text {
    font-size: 2em;
}

.box {
    inline-size: 100%;
    background-color:darkblue;
    color: white;
}

ol {
    color: white;
    list-style-position: inside;
    padding: 0em 0em 0em -1em;
    margin: 0em auto;
}

li {
    background-color:blue;
}